:root {
    --font-phrase: 'Spinnaker', sans-serif;
    --font-title: 'Alegreya', serif;
    --color-margin-coment: #a3a3a3;
    --color-aside-menu: rgb(235, 235, 235);
    --color-aside-option:#4b4b4b;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

img {
    overflow-clip-margin: none;
    overflow: none;
}

html {
    font-size: 62.5%;
}

main {
    width: 100%;
    height: fit-content;
    padding: 1rem;
    font-size: 4vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*--------------------------------------------------------------------------*/
    /*aside*/

.open-aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.close-aside {
    display: none;
}

.aside-menu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    font-size:7vw;
    background-color: var(--color-aside-menu);
}

.close-img {
    width: 7%;
    align-self: end;
    margin-right: 50px;
    filter: invert(21%) sepia(71%) saturate(35%) hue-rotate(314deg) brightness(104%) contrast(83%);
}

.option-list {
    list-style: none;
    text-align: center;
}

.option-aside-text {
    text-decoration: none;
    color: var(--color-aside-option);
    font-family: var(--font-phrase);
}

/*--------------------------------------------------------------------------*/
    /*header*/

.cabecera {
    width: 100%;
    height: fit-content;
    padding: 1rem;
}

.logos-container{
    padding: 1.5rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    border: 3px solid black;
    border-radius: 20px;
    overflow: hidden;
}

.hilbert-logo {
    width: 25%;
}

.text-logo {
    width: 75%;
}

.media-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

.social-media {
    width: 60%;
    padding-left: 1rem;
}

.icon {
    width: 18%;
    margin-right: 0.5rem;
    cursor: pointer;
}

.menu {
    width: 8%;
    cursor: pointer;
    margin-right: 1.2rem;
}

.phrase-container {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 4vw;
    text-align: justify;
    font-family: var(--font-phrase);
    font-style: italic;
}

/*--------------------------------------------------------------------------*/
    /*description*/

.description-container {
    padding: 1.5rem;
    width: 100%;
    border: 3px solid black;
    border-radius: 20px;
    margin-bottom: 1rem;
}

.description-title {
    width: 100%;
    font-size: 7vw;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    font-family: var(--font-title);
    margin-bottom: 1rem;
}

.description-text {
    width: 100%;
    line-height: 4.8vw;
    text-align: justify;
}



/*--------------------------------------------------------------------------*/
    /**/


/*--------------------------------------------------------------------------*/
    /*patreon*/

.patreon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    width: 100%;
    border: 3px solid black;
    border-radius: 20px;
    margin-bottom: 1rem;
}

.patreon-text{
    width: 100%;
    font-size: 7vw;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    font-family: var(--font-title);
    margin-bottom: 1rem;
}

.patreon-icon-container {
    width: 70%;
    height: 20%;
}

.patreon-icon {
    width: 100%;
}

/*--------------------------------------------------------------------------*/
    /*courses*/

.courses-container {
    padding: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
    border-radius: 20px;
    margin-bottom: 1rem;
}

.courses-container {
    width: 100%;
    font-size: 5.5vw;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    font-family: var(--font-title);
    margin-bottom: 1rem;
}

.courses-button {
    padding: 2vw 6vw;
    font-size: 6.5vw;
    font-style: italic;
    font-weight: 400;
    font-family: var(--font-title);
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;
}


/*--------------------------------------------------------------------------*/
    /*more*/

.more-container{
    padding: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
    border-radius: 20px;
    margin-bottom: 1rem;
}

.more-title {
    width: 100%;
    font-size: 7vw;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    font-family: var(--font-title);
    margin-bottom: 1rem;
}

.more-text {
    text-align: justify;
}

.youtube-container {
    width: 100%;
    height: 48vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://i.ytimg.com/vi/LEwXRUB6LP4/hq720.jpg?sqp=-oaymwEcCOgCEMoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAgBi0szrqrfcAKEjh48uzm9pCplg");
    display: flex;
    align-items: center;
    justify-content: center;
}

.youtube-button {
    width: 58%;
    padding: 20%;
    height: fit-content;
    filter: invert(69%) sepia(13%) saturate(11%) hue-rotate(50deg) brightness(93%) contrast(88%);
    cursor: pointer;
}

.youtube-button:hover{
    filter: none;
}

.youtube-button:active {
    transform: scale(1.05);
}

/*--------------------------------------------------------------------------*/
    /*comments*/

.comments-container {
    padding: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
    border-radius: 20px;
    margin-bottom: 1rem;
}

.comments-title {
    width: 100%;
    font-size: 6vw;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    font-family: var(--font-title);
    margin-bottom: 1rem;
}

.comment-counter {
    display: block;
    margin-bottom: 1rem;
    font-size: 5vw;
    width: 100%;
}

.comment-edit-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.comment-edit {
    height: 30vw;
    padding: 0.5rem;
    grid-column: 2 / 4;
    outline: none;
    border: 1px solid var(--color-margin-coment);
    border-radius: 5px;
    resize:none;
    font-size: 3.5vw;
}

.comment-avatar {
    width: 100%;
    height: fit-content;
}

.comment-photo-label {
    width: 100%;
    padding: 10px;
    z-index: 1;
}

#comment-photo {
    width: 0.01%;
    height: 0.01%;
    position: absolute;
    left: 50px;
    background-color: none;
    border: none;
    background-image: url(/assets/image/avatar-icon.png);
    background-size: cover;
    z-index: 10;
}

.comment-send {
    width: 50%;
    height: 8vw;
    font-size: 3.5vw;
    justify-self: center;
    grid-column: 2 / 4;
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
}

.comment-send:hover ,.courses-button:hover {
    background-color: var(--color-margin-coment);
    transform: scale(1.05);
}

.comment-send:active , .courses-button:active {
    transform: scale(0.95);
}




/*--------------------------------------------------------------------------*/

    /*Botón like*/

.con-like {
  --red: rgb(255, 50, 50);
  position: relative;
  width: 50px;
  height: 50px;
}

.con-like .like {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}

.con-like .checkmark {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.con-like .outline,
.con-like .filled {
  fill: var(--red);
  position: absolute;
}

.con-like .filled {
  animation: kfr-filled 0.5s;
  display: none;
}

.con-like .celebrate {
  position: absolute;
  animation: kfr-celebrate 0.5s;
  animation-fill-mode: forwards;
  display: none;
}

.con-like .poly {
  stroke: var(--red);
  fill: var(--red);
}

.con-like .like:checked ~ .checkmark .filled {
  display: block
}

.con-like .like:checked ~ .checkmark .celebrate {
  display: block
}

@keyframes kfr-filled {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    opacity: 1;
    transform: scale(1.2);
  }
}

@keyframes kfr-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 0.8;
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
    display: none;
  }
}

/*--------------------------------------------------------------------------*/

/*Carousel*/

/*---------------------------------------------------------------------------*/
.footer {
    display: flex;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
    z-index: 1;
}

.footer > p {
    display: inline;
    margin: 1rem;
}